$primary: #3f4752 !default;
$secondary: #d19985 !default;
$blue: #148eae !default;
$bg-primary-light: #3f4753;
$black: #3d3d3d !default;
$white: #ffffff !default;
$gray: #888d94 !default;
$cancelled: #888d9415 !default;
$search-input-bg: #f0f0f0 !default;
$search-input-placeholder: #b9bcbe !default;

$media-desktop-lg: "only screen and (min-width : 1200px)";
$media-desktop: "only screen and (max-width : 1200px)";
$media-tablet: "only screen and (max-width : 900px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 320px)";
